<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://dxuoui1db8w1y.cloudfront.net/index.png?s=q"
    />
    <title>welcome to motowipe documentation</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Courier Prime", monospace;
        height: 100vh;
        background-color: #FFFFFF;
        display: flex;
      }
      .main-section {
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1 {
        color: #006423;
        font-weight: 100;
        font-size: 4vw;
      }
    </style>
  </head>

  <body>
    <div class="main-section">
      <div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
          "
        >
          <img
            src="https://motowipe.in/images/motowipe_logo.svg"
            alt="motowipe"
            style="width: 230px"
          />
        </div>
        <h1>
          Welcome to <span style="color: #3e863d">Motowipe</span
          ><br />Documentation Page
        </h1>
        <br />
        <div><a href="/swagger/userapp">See the API for USERAPP</a></div>
        <div><a href="/swagger/admin">See the API for ADMIN</a></div>
        <div><a href="/swagger/hub">See the API for HUB</a></div>
        <div><a href="/swagger/cleaner">See the API for CLEANER</a></div>
      </div>
    </div>
  </body>
</html>
